body{
    margin: 0;
    padding: 0;
    position: relative;
}
.box{
    width: 880px;
    height: 800px;
    margin:10px auto;
    overflow: hidden;
    background-image: url(../img/3.png);
    position: relative;
    transition: all 3s linear;
    float: left;
    margin-left: 27%;
}

/*================first的开始===============================*/
.t1{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.loading{
    width: 500px;
    height: 8px;
    border: 1px solid grey;
    margin-left: 20px;
}
.first{
    background: black;
    width: 880px;
    height: 800px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 3s linear;
}
#l1{
    height: 8px;
    background:#B2B2B2 ;
    float: left;
}
/*================first的结束===============================*/
/*==================second开始==============================*/

.second{
    background: black;
    width: 880px;
    height: 800px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 3s linear;
}
.in_box1{
    width: 445px;
    height: 110px;
    background: white;
    font-size: 40px;
    margin:270px auto;
    text-align: center;
    line-height: 110px;
    border-radius: 10px;
    font-family: 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif';
}

/*==================second结束==============================*/
/*==================third开始================================*/
.third{
    background: black;
    width: 880px;
    height: 800px;
    overflow: hidden;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 3s linear;
}
#top{
    text-align: center;
}
.text1 {
    font-size:90px;
    text-align: center;
}
.i{
    position: relative;
    top: -45px;
}
.text{
    position: absolute;
    top: 400px;
    left: 37%;
    line-height: 55px;
    font-weight: 800;
    font-size: 30px;
    cursor: pointer;
    width: 250px;
    transition: all 6s linear;
}
.raido{
    width: 250px;
    height: 20px;
    background: radial-gradient(#838383,#3C3C3C);
    border-radius: 250%;
    box-shadow: 5px 0 10px 0 #3C3C3C;
    position: absolute;
    bottom: 193px;
    z-index: 0;
    display: none;
}
.raido1{
    width: 250px;
    height: 20px;
    background: radial-gradient(#838383,#3C3C3C);
    border-radius: 250%;
    box-shadow: 5px 0 10px 0 #3C3C3C;
    position: absolute;
    bottom: 108px;
    z-index: 0;
    display: none;
}
.raido2{
    width: 250px;
    height: 20px;
    background: radial-gradient(#838383,#3C3C3C);
    border-radius: 250%;
    box-shadow: 5px 0 10px 0 #3C3C3C;
    position: absolute;
    bottom: 23px;
    z-index: 0;
    display: none;
}
/*==================third结束================================*/
/*==================forth开始================================*/
.forth{
    background: black;
    width: 880px;
    height: 800px;
    overflow: hidden;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.iii{
    overflow: hidden;
    transition: all 10s linear;
}
.ii{
    width: 783px;
    height: 670px;
    position: relative;
    top: 670px;
    margin-left: 50px;
    transition: all 10s linear;
}
.ii1{
    position: relative;
    top: 730px;
    left: 380px;
    z-index: 100;
    display: none;
}
/*==================forth结束================================*/
/*==================游戏页面开始=============================*/
.wall{
    float: left;
}
.pass{
    float: left;
}
.car{
    width: 55px;
    height: 50px;
    float: left;
}
.stair{
    float: left;
}
.monster{
    float: left;
}
.monster1{
    float: left;
}
.jinlin{
    float: left;
}
.yao{
    float: left;
}
.mota{
    width: 200px;
    cursor: pointer;
}
.xl{
    float: left;
}
.river{
    float: left;
}
/*=====================================*/
.alert{
    width: 550px;
    height: 200px;
    background: white;
    border: 5px solid #CC6600;
    position: absolute;
    top: 255px;
    left: 36%;
    /*position: relative;
    top: 155px;
    left:0;*/
    font-size: 25px;
    overflow: hidden;
    margin: 0;
    display: none;
    /*float: left;*/
}
.a1{
    font-weight: bold;
    width: 275px;
    height: 100%;
    float: left;
    text-align: center;

}
.a2{
    font-weight: bold;
    width: 275px;
    height: 100%;
    float: left;
    text-align: center;
}
.alert img{
    vertical-align: middle;
}
.Blood{
    position: absolute;
    left: 10px;
    top: 50px;
}
.blood{
    position: absolute;
    left: 180px;
    top: -2px;
}
.Blood1{
    position: absolute;
    top: 53px;
    right: 167px;

}
.blood1{
    position: absolute;
    left: 180px;
    top: -2px;
}
.vs{
    position: absolute;
    bottom: -1px;
    left: 185px;
}
.alert1{
    font-size: 60px;
    position:absolute;
    top: 345px;
    left:42%;
    margin: auto;
    color: red;
    font-weight: bold;
    display: none;
}

.yaos{
    width: 550px;
    height: 200px;
    background: white;
    border: 5px solid #CC6600;
    margin: auto;
    position: absolute;
    top: 300px;
    left:39%;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    color: #6311c5;
    display: none;
}
/*===========攻击弹出框结束===========================*/
/*===========楼层开始==========================*/
.stair1{
    width: 550px;
    height: 200px;
    background: white;
    border: 5px solid #CC6600;
    position: absolute;
    top: 255px;
    left: 36%;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
    color: orangered;
    font-family: 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif';
    display: none;
}
/*===========楼层结束===========================*/
/*==================游戏页面结束=============================*/
/*==================游戏通关开始=============================*/
.pass_stop{
    width: 880px;
    height: 800px;
    background: black;
    position: absolute;
    top: 10px;
    left: 27%;
    font-size: 30px;
    color: white;
    text-align: center;
}
.pass_stop p{
    margin-top: 100px;
}
/*==================游戏通关结束=============================*/
/*==================游戏失败开始=============================*/
.died{
    width: 880px;
    height: 800px;
    background: #FFC145;
    position: absolute;
    top: 10px;
    left: 27%;
    font-size: 30px;
    color: white;
    text-align: center;
    display: none;
}
.died p{
    margin-top:100px;
}
.died img{
    width: 100px;
    height: 100px;
}
/*==================游戏失败结束=============================*/
/*==================游戏导言开始============================*/
.begin{
    width: 550px;
    height: 200px;
    background: white;
    border: 5px solid #CC6600;
    position: absolute;
    top: 255px;
    left: 36%;
    font-size: 25px;
    overflow: hidden;
    margin: 0;
    text-align: center;
    display: none;
}

/*==================游戏导言结束=============================*/
.explain{
    width:700px;
    height: 650px;
    border: 5px solid white;
    border-radius: 30px;
    margin:70px auto;
    position: relative;
    display: none;
}
.explain .img1{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.img5{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}
.img2{
    margin-left:22%;
}
.t{
    position: absolute;
    top: 45px;
    left: 5px;
}
.img3{
    position: absolute;
    bottom: 15px;
    right: 75px;
    cursor: pointer;
}
.img4{
    position: absolute;
    bottom: 16px;
    right: 20px;
    display: none;
}
#b1{
    height: 100%;
    background: indianred;
}
#b2{
    height: 100%;
    background: indianred;
}
